%section.twelve.columns
  %ul.nav-bar
    %li
      %a{href: "/"}Home
    %li.has-flyout
      %a{href: "#"} Docs
      %a.flyout-toggle{href: "#"}
        %span 
      %ul.flyout
        %li
          %a{href: '/docs/resume'}Resume
        %li
          %a{href: '/docs/todos'}To-do List
        %li
          %a{href: '/docs/planner'}Planner
