%html{lang: 'en'}
  %head
    %title=yield_content :title
    %meta{charset: 'utf-8'}

    -# Stylesheets
    %link{rel: "stylesheet", href: "/stylesheets/app.css"}
    - if params[:name]
      %link{rel: "stylesheet", href: "/stylesheets/#{params[:name]}.css"}
    =yield_content :css

    -# JavaScripts
    %script{type: "text/javascript", 
            src: "http://code.jquery.com/jquery-latest.js"}

  %body
    %header.row
      =haml "_nav".to_sym
      %section.twelve.columns
        %h1 Xing Zhou
        %h4.subheader xingz (at) andrew (dot) cmu (dot) edu
        =yield_content :header

    %section.row
      %article.toc.four.columns#side_body
        =yield_content :side_body

      %article.eight.columns#main_body
        =yield_content :main_body

    %section.row
      %article.twelve.columns
        =yield

    %footer.row
      %section.twelve.columns
        %p<
          Updated: September 2012
        =yield_content :footer


      %script{type: "text/javascript",
              src: "/javascripts/lib/foundation.min.js"}

      %script{type: "text/javascript", src: "/javascripts/app.js"}

      - if params[:name]
        %script{type: "text/javascript",
                src: "/javascripts/#{params[:name]}.js"}

      =yield_content :js
